<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Title</title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>

    <!--    con if en caso no se cumpla la existencia de algun usuario en nuestra lista-->
    <div th:if="${usuarios.isEmpty()}">no hay usuarios registrados</div>

    <table th:if="${usuarios.size() > 0}">
<!--    <table th:if="${not usuarios.isEmpty()}">-->
<!--    <table th:if="${!usuarios.isEmpty()}">-->
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="usuario: ${usuarios}">  <!--th:each="variableQueRecorreLaLista: ${LaLista}" -->
                <td th:text="${usuario.nombre}"></td>   <!--th:text="${variableQueRecorreLaLista.atributo}" -->
                <td th:text="${usuario.apellido}"></td>
                <td th:text="${usuario.email}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>